@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* boilerplate css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    display: none;
}

/* nav styling */

nav {
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: #09446A;
    justify-content: space-between;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* side drawer */

.side-drawer {
    position: absolute;
    width: 287px;
    border-right: 1px solid rgba(128, 128, 128, 0.218);
    height: 90vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2rem;
    left: -287px;
    transition: left 0.3s ease-in-out;
    user-select: none;
}

.side-drawer.active {
    left: 0px;
    transition: left 0.3s ease-in-out;
}

/* calender grid main defs */

.calender-grid-main {
    position: absolute;
    left: 290px;
    padding: 1.5rem;
    transition: left 0.3s ease-in-out;
    height: 90vh;
    overflow: auto;
}

.calender-grid-main.full {
    left: 0px;
    transition: left 0.3s ease-in-out;
}

/* child elements of drawer styling*/

.create-element-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: large;
    padding: 5px 20px;
    border-radius: 50px;
    width: fit-content;
    background: none;
    border: 3px solid #09446A;
    color: #09446A;
}

.create-element-btn:hover {
    background-color: #09436a2d;
    cursor: pointer;
}

.create-element-btn span {
    position: relative;
    font-size: 35px;
    margin-bottom: 1px;
}

/* date picker */

.month-year__navigators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: .4rem
}

.month-year__navigators span {
    color: black;
}

.month-year__navigators span:hover {
    color: rgba(0, 0, 0, 0.762);
    cursor: pointer;
}

.month-year__navigators .navigators {
    display: flex;
    align-items: center;
}

/* datepicker and grid itself */

.date-navigator {
    user-select: none;
}

.calender-grid {
    display: grid;
    margin-top: .5rem;
    grid-template-columns: repeat(7, 1fr);
    column-gap: .6rem;
    row-gap: .3rem;
    justify-items: center;
}

.date-navigator .days {
    display: flex;
    align-items: center;
    gap: 1.73rem;
    color: gray;
    margin-top: .5rem;
    margin-left: .48rem;
    font-size: 13px;
}

/* single grid element */

.calender-grid span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 10px;
    font-size: 11px;
    border-radius: 50%;
    border: 1px solid white;
}

.calender-grid span.current {
    background-color: #09446A;
    border: 1px solid #09446A;
    color: white;
}

.calender-grid span.selected {
    border: 1px solid #09446A;
}

.calender-grid span.elapsed {
    color: rgba(128, 128, 128, 0.456);
}

.calender-grid span.current:hover {
    background-color: #09446A;
}

.calender-grid span:hover {
    background-color: rgba(128, 128, 128, 0.143);
    cursor: pointer;
}

/* material button definitions */

.material-btn {
    background: none;
    border: none;
    user-select: none;
    height: 25px;
    width: 25px;
}

.material-btn span {
    color: white;
}

.material-btn:hover {
    cursor: pointer;
}

.material-btn:hover span {
    color: rgba(255, 255, 255, 0.823);
}

.material-btn.expand {
    display: none;
}

.nav-left,
.nav-right,
.profile-banner {
    display: flex;
    align-items: center;
}

.nav-left {
    gap: 1.5rem;
}

.nav-left h2 {
    padding-left: 2rem;
}

.nav-right {
    gap: 1.5rem;
}

.nav-right .profile-banner {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    gap: 10px;
}

/* avatar image style */

.avatar-img {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar-img img {
    width: 35px;
    border-radius: 50%;
}

/* nav search input */

nav input {
    border: none;
    padding: 3px;
    width: 37%;
    margin-left: 1rem;
    background: none;
    color: white;
    font-size: medium;
    border-bottom: 1px solid rgba(255, 255, 255, 0.66);
    display: none;
}

nav input::placeholder {
    color: rgba(255, 255, 255, 0.66);
}

nav input:focus {
    border-bottom: 1px solid white;
    outline: none;
}

/* mobile right nav view definitions */

.quickaction-mobile-dialog {
    position: absolute;
    top: 80px;
    right: 15px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    display: none;
    min-width: 180px;
    z-index: 15;
}

.quickaction-mobile-dialog.show {
    display: block;
}

.quickaction-mobile-dialog .avatar-img {
    padding: 7px 1rem;
}

.quickaction-mobile-dialog .avatar-img p {
    width: max-content;
}

.quickaction-mobile-dialog ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.quickaction-mobile-dialog ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 7px 1.2rem;
}

.quickaction-mobile-dialog ul li:hover {
    background-color: rgba(0, 0, 0, 0.088);
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    padding: 10px 0;
    list-style-type: none;
    width: 140px;
    top: 53px;
    right: 76px;
    display: none;
    z-index: 15;
}

.profile-menu.show {
    display: block;
}

.profile-menu li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 7px 1rem;
}

.profile-menu li:hover {
    background-color: rgba(0, 0, 0, 0.088);
    cursor: pointer;
}

/* modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 12;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 550px;
    border-radius: 0.5rem;
}

.modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.material-btn.back span {
    color: black;
    font-size: 29px;
}

.material-btn.back span:hover {
    color: rgba(0, 0, 0, 0.605);
}

/* profile modal */

.modal-head {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.modal-content .profile {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.modal-content .profile img {
    width: 100px;
    border-radius: 50%;
    padding: 1px;
    border: 3px solid #09446A;
}

/* invites modal */

.modal-content .current-invites-list {
    height: 250px;
}

.modal-content .current-invites-list p {
    text-align: center;
    padding: 1.5rem;
}

/* user settings pane styling */

.settings-pane {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
    z-index: 10;
}

.settings-pane .head {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.settings-pane .content-section {
    display: flex;
    height: 100%;
}

.settings-pane .content-section .side-options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 8px;
    margin-top: 0.8rem;
}

.settings-pane .content-section .side-options-list .option {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
}

.settings-pane .content-section .side-options-list .option:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.settings-pane .content-section .option-content {
    padding: 1rem;
    border-left: 1px solid rgba(128, 128, 128, 0.197);
}

.settings-pane.active {
    display: block;
}

/* scrollbar-styling => global */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(204, 204, 204, 0.66);
}

/* calender categorization style */

.calenders-user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calenders-user .head-drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}

.calenders-user .head-drop:hover {
    background-color: rgba(128, 128, 128, 0.081);
    cursor: pointer;
}

.calenders-user .calenders {
    padding: 5px;
    gap: 0.5rem;
    flex-direction: column;
    display: none;
}

.calenders-user .calenders .calender {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* main dialog styling */

.dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 12;
    display: none;
}

.dialog-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;
    width: 320px;
}

.dialog-head {
    width: 100%;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: .3rem .5rem;
    background-color: #09446A;
}

.dialog-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
    width: 100%;
}

/* event type styling */

.event-type-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-type {
    border: none;
    background-color: rgba(128, 128, 128, 0.082);
    padding: 5px 10px;
    border-radius: 3px;
}

.event-type.selected {
    border: 1px solid #09446A;
    color: #09446A;
}

.event-type:hover {
    background-color: rgba(128, 128, 128, 0.224);
    cursor: pointer;
}

/* date input and user interaction styling */

.date-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#time_to {
    margin-left: 10px;
}

textarea {
    resize: none;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #09446A;
}

textarea:focus {
    outline: none;
}

.date-label h4 {
    margin-bottom: 5px;
}

/* color input defs */
input[type=color] {
    opacity: 0;
}

#colorspan {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #09446A;
    display: inline-block;
}

.dialog-main input {
    border: none;
    border-bottom: 1px solid #09446A;
    font-size: 16px;
    padding: 3px 0;
}

.dialog-main input:focus {
    outline: none;
}

.dialog-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.dialog-footer button {
    border: none;
    background-color: #09446A;
    padding: 5px 10px;
    color: white;
    width: 100%;
    border-radius: 3px;
    height: 30px;
}

.dialog-footer button:hover {
    background-color: #09436ad9;
    cursor: pointer;
}

.dialog.show {
    display: flex;
}

/* main calender binding advanced custom sytling */

.fc .fc-daygrid-day.fc-day-today {
    background-color: #2e96dc71;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: #2e96dc71;
}

/* buttons */

.fc .fc-button-primary {
    padding: 5px 10px;
    background-color: #09446A;
    border: none;
}

.fc .fc-button-primary:hover {
    background-color: #09436adc;
}

.fc .fc-button-group .fc-today-button {
    padding: 5px 15px;
    background-color: #09446A;
    color: white;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: #09436adc;
}

/* rewriting btn defs */

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
    box-shadow: none;
}

.fc-v-event,
.fc-h-event {
    border: none;
    padding: 2px 3px;
}

/* finsihed style customization of full calender */


@media only screen and (max-width: 650px) {
    .nav-right {
        display: none;
    }

    .material-btn.expand {
        display: block;
    }

    .profile-menu {
        display: none;
    }

    .modal-content {
        width: 450px;
    }

    .settings-pane .content-section {
        flex-direction: column;
    }

    .settings-pane .content-section .side-options-list {
        width: 100%;
    }

    .settings-pane .content-section .option-content {
        padding: 1rem;
        border: none;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 350px;
    }

    .modal-content .profile {
        flex-direction: column;
        text-align: center;
    }

    .side-drawer.active {
        width: 100%;
        left: 0;
    }

    .date-navigator .days {
        justify-content: space-evenly;
        gap: 2.1rem;
        margin: 1rem 5px 0 4px;
    }

    .fc-toolbar-title {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .date-navigator .days {
        gap: 1.7rem;
    }
}