@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(245, 245, 245, 0.558);
    overflow-x: hidden;
}

.container {
    height: 570px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    border-radius: 10px;
    padding: 1.5rem;
}

.container img {
    width: 230px;
    margin-top: 2rem;
}

.container a {
    width: 100%;
    padding-top: 9px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.565);
    border: 1px solid rgba(128, 128, 128, 0.463);
    border-radius: 20px;
}

.container a:hover {
    color: rgba(128, 128, 128, 0.347);
    border: 1px solid rgba(128, 128, 128, 0.293);
    cursor: pointer;
}

.container a:focus {
    color: rgba(128, 128, 128, .449);
}

.user-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.user-feedback h2 {
    color: #09446a;
    text-align: center;
    padding-top: 1rem;
    width: 280px;
}

@media only screen and (max-width: 450px) {
    body {
        background-color: white;
    }

    .container {
        width: 280px;
        box-shadow: none;
    }

    .user-feedback h2 {
        width: 75%;
    }

    .container a {
        width: 70%;
    }
}
